<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="booksDAO">
	<select id="selectAll" resultType="booksDTO">
		select * from "BOOKS" order by "NUM"
	</select>
	<select id="selectByBookname" parameterType="String" resultType="booksDTO">
		select * from "BOOKS" where "BOOKNAME" like '%'||#{bookname}||'%' order by "NUM"
	</select>
	<select id="selectByWriter" parameterType="String" resultType="booksDTO">
		select * from "BOOKS" where "WRITER" like '%'||#{writer}||'%' order by "NUM"
	</select>
	<select id="selectByPublisher" parameterType="String" resultType="booksDTO">
		select * from "BOOKS" where "PUBLISHER" like '%'||#{publisher}||'%' order by "NUM"
	</select>
	<select id="count" resultType="Integer">
		select count(*) from "BOOKS"
	</select>
	<select id="selectContent" parameterType="Long" resultType="booksDTO">
		select * from "BOOKS" where "NUM"=#{num}
	</select>
	<select id="selectByIsbn" parameterType="Long" resultType="booksDTO">
		select * from "BOOKS" where "ISBN"=#{isbn}
	</select>
	<update id="update" parameterType="booksDTO">
		update "BOOKS"
		set "ISBN"=#{isbn}, "BOOKNAME"=#{bookname},
		"WRITER"=#{writer}, "PUBLISHER"=#{publisher}, "PRICE"=#{price},
		"CONTENT"=#{content}, "SAVEDFILENAME"=#{savedFilename},
		"REALFILENAME"=#{realFilename} where "NUM"=#{num}
	</update>
	<delete id="delete" parameterType="Long">
		delete from "BOOKS" where "NUM"=#{num}
	</delete>
	<insert id="insert" parameterType="booksDTO">
		insert into "BOOKS"(NUM, ISBN, BOOKNAME, WRITER, PUBLISHER, PRICE, CONTENT, SAVEDFILENAME, REALFILENAME)
		values("BOOKS_SEQ".nextval, #{isbn}, #{bookname}, #{writer}, #{publisher}, #{price}, #{content}, #{savedFilename}, #{realFilename})
		<selectKey keyProperty="num" resultType="Long">
			select nvl(max(num), 0) from "BOOKS"		
		</selectKey>
	</insert>
	
</mapper>